<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <listeners>
        <listener class-name="Academy.Listeners"/>
    </listeners>
    <test name="Example Test">
        <classes>
            <class name="Academy.AppTest">
                <methods>
                    <include name="shouldAnswerWithTrue"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Validate user login">
        <classes>
            <class name="Academy.HomePage">
                <methods>
                    <include name="basePageNavigation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Validate the Navigation Bar in the Page">
        <classes>
            <class name="Academy.ValidateNavigationBar">
                <methods>
                    <include name="basePageNavigation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Validate title in the Page">
        <classes>
            <class name="Academy.ValidateTitle">
                <methods>
                    <include name="basePageNavigation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>